{% extends "methods/base.html" %}
{% block draw_method %}
    <h2>{{ method.raw_notation|default:'Default Place Notation' }}</h2>
    <p>
        {{ method.title }} is member of the <a href="{{ method.ms_get_absolute_url }}">{{ method.ms_notes }}</a>
        CCCBR method set.
    </p>

    <table class="table table-striped">

        {% if method.ms_p_stage %}
            <tr>
                <td><span class="label label-success">Bells</span></td>
                <td><p>{{ method.ms_p_stage }}</p></td>
            </tr>
        {% endif %}

        {% if method.ms_p_lengthOfLead %}
            <tr>
                <td><span class="label label-success">Lead Length</span></td>
                <td><p>{{ method.ms_p_lengthOfLead }}</p></td>
            </tr>
        {% endif %}

        {% if method.ms_p_numberOfHunts %}
            <tr>
                <td><span class="label label-success">Number of Huntbells</span></td>
                <td><p>{{ method.ms_p_numberOfHunts }}</p></td>
            </tr>
        {% endif %}

        {% if method.ms_p_symmetry %}
            <tr>
                <td><span class="label label-success">Symmetry</span></td>
                <td><p>{{ method.ms_p_symmetry }}</p></td>
            </tr>
        {% endif %}

        {% if method.classification %}
            <tr>
                <td><span class="label label-info">classification</span></td>
                <td><p>{{ method.classification }}</p></td>
            </tr>
        {% endif %}

        {% if method.method_notes %}
            <tr>
                <td><span class="label label-info">Notes</span></td>
                <td><p>{{ method.method_notes }}</p></td>
            </tr>
        {% endif %}

        {% if method.falseness_groups %}
            <tr>
                <td><span class="label label-info">Falseness Groups</span></td>
                <td><p>{{ method.falseness_groups }}</p></td>
            </tr>
        {% endif %}

    {% if method.rw_reference or method.bn_reference or method.cb_reference or method.pmm_reference or method.tdmm_reference %}
        <tr>
            <td>
        <h2>References</h2>
            </td>
        </tr>

        {% if method.rw_reference %}
        <tr>
            <td>"Ringing World" reference</td>
            <td>{{ method.rw_reference }}</td>
        </tr>
        {% endif %}

        {% if method.bn_reference %}
            <tr>
                <td>"The Bell News" reference</td>
                <td>{{ method.bn_reference }}</td>
            </tr>
        {% endif %}

        {% if method.cb_reference %}
            <tr>
                <td>"Church Bells" reference</td>
                <td>{{ method.cb_reference }}</td>
            </tr>
        {% endif %}

        {% if method.pmm_reference %}
            <tr>
                <td>Numerical index in the Plain Minor Methods collection</td>
                <td>{{ method.pmm_reference }}</td>
            </tr>
        {% endif %}

        {% if method.tdmm_reference %}
            <tr>
                <td>Numerical index in the Treble Dodging Minor Methods collection</td>
                <td>{{ method.tdmm_reference }}</td>
            </tr>
        {% endif %}
    </table>
    {% endif %}

    {% if method.first_tb_peal %}
    <div class="row">
        <div class="span6">
            <h4>First Tower Bell Peal:</h4>
            <p>{{ method.first_tb_peal.date|date:"l jS F, Y" }}</p>
        </div>
        <div class="span4">
            {% if method.first_tb_peal.has_location %}
            <h4>Recorded Location:</h4>
            <address>
                {% if method.first_tb_peal.building %}<strong>{{ method.first_tb_peal.building }}</strong><br>{% endif %}
                {% if method.first_tb_peal.town %}<strong>{{ method.first_tb_peal.town }}</strong><br>{% endif %}
                {% if method.first_tb_peal.address %}{{ method.first_tb_peal.address }}<br>{% endif %}
                {% if method.first_tb_peal.county %}{{ method.first_tb_peal.county }}<br>{% endif %}
                {% if method.first_tb_peal.region %}{{ method.first_tb_peal.region }}<br>{% endif %}
                {% if method.first_tb_peal.country %}{{ method.first_tb_peal.country }}<br>{% endif %}
            </address>
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% if method.first_hb_peal %}
        <div class="row">
        <div class="span6">
            <h4>First Hand Bell Peal:</h4>
            <p>{{ method.first_hb_peal.date|date:"l jS F, Y" }}</p>
        </div>
        <div class="span4">
        {% if method.first_hb_peal.has_location %}
        <h4>Recorded Location:</h4>
        <address>
            {% if method.first_hb_peal.building %}<strong>{{ method.first_hb_peal.building }}</strong><br>{% endif %}
            {% if method.first_hb_peal.town %}<strong>{{ method.first_hb_peal.town }}</strong><br>{% endif %}
            {% if method.first_hb_peal.address %}{{ method.first_hb_peal.address }}<br>{% endif %}
            {% if method.first_hb_peal.county %}{{ method.first_hb_peal.county }}<br>{% endif %}
            {% if method.first_hb_peal.region %}{{ method.first_hb_peal.region }}<br>{% endif %}
            {% if method.first_hb_peal.country %}{{ method.first_hb_peal.country }}<br>{% endif %}
        </address>
        {% endif %}
    {% endif %}
{% endblock draw_method %}