{% extends "base.html" %}
{#{% load pagination_tags %}#}
{% block title %}{{ view.kwargs.order }} Bell Methods{% endblock title %}
{% block content %}

{#{% autopaginate page_obj %}#}

	<article>
        <h1>{{ view.kwargs.order }} Bell Methods</h1>
        <table class="table table-striped">
	    {% for method in method_list %}
            <tr>
                <td><a href="{{ method.get_absolute_url }}">{{ method.title }}</a></td>
                <td><a href="{{ method.method_set.get_absolute_url }}">{{ method.method_set.notes }}</a></td>
            </tr>
	    {% endfor %}
        </table>
	</article>
{% endblock content %}

