{% extends "base.html" %}
{% load bootstrap_pagination %}
{% block title %}{{ view.kwargs.order }} Bell Methods{% endblock title %}
{% block content %}

{% if is_paginated %}
    {% bootstrap_paginate page_obj range=6 show_first_last="true" url_view_name="methods:order_paginated" url_extra_kwargs=view.kwargs.order %}
{% endif %}

	<article>
        <h1>{{ view.kwargs.order }} Bell Methods</h1>
        <table class="table table-striped">
	    {% for method in method_list %}
            <tr>
                <td><a href="{{ method.get_absolute_url }}">{{ method.title }}</a></td>
                <td>{{ method.method_set.notes }}</a></td>
            </tr>
	    {% endfor %}
        </table>
	</article>
{% endblock content %}

