{% extends 'base.html' %}
{% block title %}About{% endblock %}

{% block content %}
    <h1 xmlns="http://www.w3.org/1999/html">About</h1>

    <p>
        This little site has been created as an exercise in web site building, javascript, django and python.
        The entire source code (how the site runs) is available at
        <a href="https://github.com/danodonovan/campanologia">github/danodonovan/campanologia</a>,
        if you find the code helpful and use it anywhere, please acknowledge me.
    </p>

    <h5>Bug?</h5>
    <p>
        Yes! Bugs, feature requests, comments gladly received. Please register your thoughts and feelings on the
        <a href="https://bitbucket.org/danodonovan/campanologia/issues?status=new&status=open">bitbucket issue tracker</a>.
    </p>

    <h3>Contact Me</h3>
    <p>
        I hate spam, maybe you can fork me on <a href="https://bitbucket.org/danodonovan">bitbucket</a>, follow me on
        twitter <a href="https://twitter.com/danodonovan">@danodonovan</a> or find some other ingenious way to get hold of me.
    </p>

    <a href="http://stackoverflow.com/users/228152/danodonovan">
        <img src="http://stackoverflow.com/users/flair/228152.png" width="208" height="58" alt="profile for danodonovan at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for danodonovan at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
    </a>

{% endblock %}
