{% extends 'base.html' %}
{% block title %}About{% endblock %}

{% block content %}
    <h1 xmlns="http://www.w3.org/1999/html">About</h1>

    <p>Having been slowly getting more and more disgruntled with other English change ringing websites and applications
    I thought that I might build my own, designed by me, that does what I want it to.</p>

    <p>This little site has been created as an exercise in web building, javascript, django and python. The source
    code for this site, should you be interested will be available on <a href="https://bitbucket.org/danodonovan">bitbucket</a>
        soon.</p>

    <h3>About Me</h3>
    <p>I am a ringer of very modest talents, despite having rung from the age of 12, been president of the
        <a href="http://www2.warwick.ac.uk/sunion/wubrs/">Warwick University Bell Ringing Society</a> 2003/2004 and
        master at the <a href="http://bellringers.scripts.mit.edu/www/change-ringing/in-new-england/old-north-church">
        Old North Church</a> in Boston, MA. I'm probably what most people consider to be a geek, and I currently live in
        Cambridge UK. <i>-- Daniel O'Donovan</i></p>

    <h3>Contact Me</h3>
    <p>I hate spam, maybe you can fork me on <a href="https://bitbucket.org/danodonovan">bitbucket</a>, follow me on
        twitter <a href="https://twitter.com/danodonovan">@danodonovan</a> or find some other ingenious way to get hold of me.
    </p>

{% endblock %}