{% extends "base.html" %}

{% block title %}Blue Line Method Generator{% endblock %}

{% block content %}
<h1>Bellringing Methods</h1>

    <p>Bell ringers sometimes need blue lines quickly, this site aims to provide just that.</p>

    <p>Currently there are {{ count }} methods in this database.</p>

    <h2>Methods for</h2>
    {% for order in orders %}
        <ul>
            <li><a href="{{ order.get_absolute_url }}">{{ order }}</a></li>
{#            <li><a href="{{ order.get_absolute_url }}">{{ order.get_order_display }} Methods ({{ order.order }} bells)#}
{#                <i>{{ order.count }}</i></a>#}
{#            </li>#}
        </ul>
    {% endfor %}

{% endblock %}
