{% extends "base.html" %}
{% block head %}
        <title>{{ method.name|default:'Default Method Name' }}</title>
        <script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>
        <script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/bells.js"></script>
        <script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/draw_bells.js"></script>
        <script type="text/javascript">{{ js_blueline }}</script>
{% endblock head %}
{% block body %}
	<article>
	    <h1>{{ method.name|default:'Default Method Name' }}</h1>
	    <p>
	        <strong>Alpha Warning</strong> This is a very new and still being developed website - 
	        expect things to move, things to (sometimes) be wrong, and things to get better soon!
	    </p>
	    {% if method.problem %}<h2>There may well be a problem with this entry</h2>{% endif %}
	    <h2>{{ method.places|default:'Default Place Notation' }}</h2>
		<div id='method_blocks'>
		</div>
	</article>
{% endblock body %}
