{% block title %}
        <title>{{order}} Methods</title>
{% endblock title %}
{% block body %}
	<article>
	    <h1>{{order.get_order_display}} Methods</h1>
	    <p>
	        <strong>Alpha Warning</strong> This is a very new and still being developed website - 
	        expect things to move, things to (sometimes) be wrong, and things to get better soon!
	    </p>
	    {% for method in methods %}
	    <br /><a href="{{ method.get_absolute_url }}">{{ method.name }}</a>
	    {% endfor %}
	</article>
{% endblock body %}

